#title {background-color: #99235c; color: white; padding:0; margin: 0;}

img {width: 100%; height: auto; max-width: 300px;}

h1 {font-family: "arial";
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.5;
}

h2 {font-family: "Montserrat-bold";
    font-size: 3rem;
    line-height: 1.5;}

.container-fluid {padding: 0; margin:0;}

body {font-family: "montserrat";}

.navbar {padding 0 0 2rem;z-index: 1; background-color: #AAAAAA;}


.navbar-brand {font-family: "Ubuntu"; font-size: 2.5rem; font-weight: bold; padding-left: 0%; padding-top: 2%;}

.nav-item {padding: 0 10px;}

.nav-link {font-size: 1.5rem; font-family: "Montserrat-light"; font-weight: 1000;}

.Natalietitle {font-family: "Ubuntu"; font-size: 3rem; font-weight: bold; padding-top: 15%; padding-left: 20%;}


/* image */
.closet-img {position: absolute; width:100%; padding: 0;}
.icon {color:red; text-align: center;}
.icon:hover {color:#ff4c68;}

h3 {font-weight: bold;}
.bio {line-height: 1em; font-weight: normal;}

.intro-Natalie {max-width: 100%; width:auto;}

p {color: #8F8F8f;}

#features {padding: 7% 12%; background-color: white; position: relative;}
.feature-box {text-align: center; padding: 4.5%;}

/* **Testimonials** */
.testimonialtext {font-family: Montserrat-light; font-size: 2rem; display: inline-block;}
/* .testimonialtextSanyika {font-family: Montserrat-light; font-size: 2rem; text-align: center; display: inline-block;} */
.Alishatestimonial-image {float: right;}
.Sanyikatestimonial-image {margin-left: auto; margin-right: auto; max-width: 100%; height: auto;}
.Italy {float: right;padding-left: 2%;}
.Laraname {display: inline-block;}




#testimonials {background-color: black; color: #fff; text-align: center;}


.testimonial-image {width: 10%; border-radius: 100%;}

.carousel-item {padding: 7% 10%;}


#pricing {padding:100px; text-align: center;}

.pricing-column {padding: 3% 2%;}



#cta {background-color: #99235c; padding: 7% 15%; text-align: center; color: white; text-align: center;}

.cta-heading {font-family: "ubuntu"; font-size: 3.5rem; line-height: 1.5;}

#footer {padding: 7% 15%; text-align: center;}

.shoe {padding: 20px;}
.suitcase {padding: 20px;}
.card-header {background-color: e3e3e3;}

/* Meet Natalie */
#Meet-Natalie {background-color: #e3e3e3; text-align: center; padding: 7% 15%; font-family: Montserrat-light;}
.intro-natalie {border-radius: 3%; padding-bottom: 3%;}
.Natmain {max-width:100%;}
/* Contact Page */
.contactpage {background-color: #AAAAAA; color: white; padding-left: 15%; padding-right: 15%; position: relative;}
.contactpic {border-radius: 5%; padding-bottom: 0; padding-top: 0; margin-right: 10%; max-width: 100%;}
.connectheading {padding-top: 0;}
.form {display: inline; padding-bottom: 5%;}
.floatingpic {float: right; position: relative; top: 0; left: 5%; bottom: 0;}
.email {color: white;}
.second {padding-top: 5%;}
